<mat-form-field>
  <input matInput readonly (click)="toggleVisibility()" type="text" placeholder="Suchfeld">
</mat-form-field>
<button mat-icon-button (click)="toggleVisibility()">
  <mat-icon>{{ hidden ? 'expand_more': 'expand_less'}}</mat-icon>
</button>
<div class="select-container" [class.hidden]="hidden">
  <div>
    <mat-form-field>
      <input matInput type="text" placeholder="Filter">
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <button mat-raised-button (click)="changeSelectAllSelectNone()">all / none</button>
  <mat-checkbox *ngFor="let value of selectOptions"
                [checked]="value.selected"
                (change)="changeCheckbox(value)">{{value.label}}</mat-checkbox>
</div>
