<ngx-select [options]="mockData" [formControl]="formControl" (changeToggleState)="logToggleState($event)"></ngx-select>
<ngx-select [options]="mockData"
            [formControl]="formControl"
            (changeToggleState)="logToggleState($event)"
            placeholder="Test-Placeholder">
</ngx-select>

<div style="width: 140px; background-color: red;">
  Schmall
  <ngx-select [options]="mockData" [formControl]="formControl"></ngx-select>
</div>
<button style="margin-top: 20px" (click)="disable()">disable | enable</button>
<div style="width: 140px; height: 150vh;">
  Test Scrolling
  <ngx-select [options]="mockData" [formControl]="formControl"></ngx-select>
</div>


